.main {

    text-align: center;
}

.searchbar {
    width: 80%;
    margin: 0 auto;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 0 0 15px 15px;
    height: 7vh;
    box-shadow: 0 1vh rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: large;
    padding: 20px;
    transition: 1 ease-in-out;
    color: grey;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.warm {
    background-image: url(war-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    /* /* background: linear-gradient(to top, rgb(92, 78, 2), rgb(185, 187, 48)); */

    transition: background-image 1s;
}

.rainy {
    background-image: url(rain.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background-image 1s;
}

.winter {
    background-image: url(cold-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    transition: background-image 1s;
    opacity: 1;

}

.place {
    font-size: 4vh;
    font-weight: 800;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);


}

.date {
    font-size: 3vh;
    /* font-style: italic;
    font-weight: bold; */

    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    margin-top: 20px;
    font-family: 'Cookie', cursive;
}

.temp {
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.288);
    font-weight: 800;
    font-size: 60px;
    display: inline-block;
    text-align: center;
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.temp1 {
    padding: 20px 30px;
}

.weather {
    font-size: 6vh;
    font-weight: 800;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);


}

.main .searchbar:focus {
    background-color: rgba(255, 255, 255, 0.836);
    transition: 1 ease-in-out;
}

.wrap {
    transition: 1 ease-in-out;
}