.main {

    text-align: center;
}

.searchbar {
    width: 80%;
    margin: 0 auto;
    appearance: none;
    outline: none;
    border: none;
    border-radius: 0 0 15px 15px;
    height: 7vh;
    box-shadow: 0 1vh rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.5);
    font-size: large;
    padding: 20px;
    transition: 1 ease-in-out;
    color: grey;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: bold;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;

}

.warm {
    /* background-image: url(D:\coding\coding\react\react-template\src\component\war-bg.jpg); */
    background: linear-gradient(to top, rgb(92, 78, 2), rgb(185, 187, 48));
    height: 100vh
}

.rainy {
    /* background-image: url(D:\coding\coding\react\react-template\src\component\rain.jpg); */
    background: linear-gradient(to top, rgb(25, 23, 27), rgb(112, 112, 235));
    height: 100vh
}

.winter {
    /* background-image: url(D:\coding\coding\react\react-template\src\component\cold-bg.jpg); */
    background: linear-gradient(to top, black, rgb(10, 172, 184));
    height: 100vh
}

.place {
    font-size: 4vh;
    font-weight: 800;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);


}

.date {
    font-size: 3vh;
    font-style: italic;
    font-weight: bold;

    color: rgb(255, 255, 255);

    text-shadow: 1px 1px rgba(50, 50, 70, 0.5);

}

.temp {
    font-family: 'Red Hat Display', sans-serif;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.288);
    font-weight: 800;
    font-size: 60px;
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    color: #fff;
    text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
    box-shadow: 3px 3px rgba(0, 0, 0, 0.2);
}

.temp1 {
    padding: 20px 30px;
}

.weather {
    font-size: 6vh;
    font-weight: 800;
    margin-top: 30px;
    color: rgba(255, 255, 255, 0.76);
    text-shadow: 2px 2px rgba(50, 50, 70, 0.5);

}

.main .searchbar:focus {
    background-color: rgba(255, 255, 255, 0.836);
    transition: 1 ease-in-out;
}

.wrap {
    transition: 1 ease-in-out;
}